*.pyc
__pycache__
*.egg
!/tests/**/*.egg
/*.egg-info
/dist/*
build
_build
.cache
*.so

.DS_Store
.idea/*
.python-version
.vscode/*

.venv
/releases/*
pip-wheel-metadata
/poetry.toml

poetry/core/*
.env
.vscode
